.nav-bar {
    background: url("http://vtdesignz.co/dev/ci/busquotes/uploads/8af402a46bd6c14349b47207fd37cd0b.png");
    background-repeat: no-repeat;
    background-size: 20%;
    height: 50%;
    width: 50%;
    background-position: center;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0;
    overflow: hidden;
    background-color:rgb(233, 233, 233);
    margin-top: 0px;
}

h3 {
    text-align: center;
    color:rgb(41, 171, 225);
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

p {
    text-align: center;
    color:rgb(41, 171, 225);
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.single-container h3 {
    color:rgb(41, 171, 225);
    margin: 50px;
}

.all-container a {
    text-decoration: none;
    color:rgb(27, 19, 99);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.single-container p {
    text-decoration: none;
    color:rgb(27, 19, 99)
}

input[type=text], input[type=password], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    text-align: center;
    border: 1px solid rgb(41, 171, 225);
    border-radius: 100px;
}

input[type=submit] {
    width: 100%;
    background-color:rgb(41, 171, 225);
    color: rgb(228, 225, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgb(27, 19, 99);
}

.all-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(41, 171, 225);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.single-container {
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2c5;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 19, 99);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.user-show, .welcome-index {
    flex-direction: column;
}

.welcome-index {
    margin: auto;
}

.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.single-container form {
    width: 70%;
    display: flex;
    justify-content: center;
}

ul {
    float: left;
}

ul a {
    display: block;
    color:rgb(41, 171, 225);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
}

ul a:hover {
    color: rgb(41, 171, 225);
    background-color: rgba(0, 0, 0, 0.5)
}

form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1470883361187-d6eaa64cdf00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67bc2460da1c487cd65e4fb119eeb213&auto=format&fit=crop&w=2378&q=80" );
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

