* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 67vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color .8s ease;
}

.section .content {
  z-index: 2;
}

.content a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: rgba(0, 0, 0, 0.95);
}

#news {
  background-image: url(https://images.unsplash.com/photo-1508612761958-e931d843bdd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=279f0899e88c38fc8cfc248fa6aaa17d&auto=format&fit=crop&w=958&q=80);
}


#transportation {
  background-image: url(https://images.unsplash.com/photo-1510910370032-cf88a2d5ffd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab432404a5f9c9193fd1bb8fcefe1c97&auto=format&fit=crop&w=1950&q=80);
}

#about {
  background-image: url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e5d85cd16e79671287971a06be066&auto=format&fit=crop&w=1950&q=80);
}

.nav-bar {
    background: url("http://vtdesignz.co/dev/ci/busquotes/uploads/8af402a46bd6c14349b47207fd37cd0b.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* padding: 10px; */
    overflow: hidden;
    background-color:rgb(233, 233, 233);
}

.states-container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.state-container {
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2c5;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 19, 99);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    margin: 10px;
}

.vehicles-container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.vehicles-container a {
    color:rgb(41, 171, 225);
}

.vehicle-container {
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2c5;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 19, 99);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    margin: 10px;
}

.state-collection-selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.state-collection {
    width: 117%;
}

h5 {
    margin: 0px;
    font-weight: 100;
}

h3 {
    text-align: center;
    color:rgb(41, 171, 225);
    margin: 10px;
    font-family: 'Pathway Gothic One', sans-serif;
}

p {
    text-align: center;
    color:rgb(41, 171, 225);
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.single-container h3 {
    color:rgb(41, 171, 225);
    margin: 20px;
}

.all-container a {
    text-decoration: none;
    color:rgb(41, 171, 225);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.single-container p {
    text-decoration: none;
    color:rgb(27, 19, 99)
}

input[type=text], input[type=password], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    text-align: center;
    border-radius: 100px;
    border: 1px solid rgb(41, 171, 225);
}

input[type=submit] {
    width: 100%;
    background-color:rgb(41, 171, 225);
    color: rgb(228, 225, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgb(27, 19, 99);
}

.all-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgb(41, 171, 225);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.single-container {
    width: 30%;
    border-radius: 50px;
    background-color: #f2f2f2c5;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 19, 99);
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.user-show, .welcome-index {
    flex-direction: column;
}

.welcome-index {
    margin: auto;
    word-wrap: break-word;
}

.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.single-container form {
    width: 70%;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 10%;
}

ul {
    float: left;
}

ul a {
    display: block;
    color:rgb(242, 245, 247);
    border: 0px;
    border-radius: 100px;
    background-color: rgb(41, 171, 225);
    text-align: center;
    margin: 15px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
}

ul a:hover {
    border: 0px;
    border-radius: 100px;
    color: rgb(41, 171, 225);
    background-color: rgb(27, 19, 99)
}

form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1509388967014-f4d87be14eaf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b30ea5ac9316f5fa6aa98e93ad09e418&auto=format&fit=crop&w=2734&q=80" );
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

