<h3>Admin Users</h3>

<div class='all-container'>
    <% @users.reverse_each do |user| %>
      <div class='single-container'>
        <p>
          <%= user.name %><br>
          <%= user.email %><br>
          <% user.companies.each do |company| %>
            <%= company.name %><br>
          <% end %>

          <%= link_to "Delete", admin_user_path(user), method: :delete  %>
          </p><br>
      </div>
    <% end %>
</div>