<h3>All Users</h3>

<div class='users-container'>

    <% @users.reverse_each do |user| %>
      <div class='user-container'>
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Companies</th>
            <th>Terminate</th>
          </tr>
            <% @users.reverse_each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= link_to user.companies.count, user_companies_path(user) %></td>
                <td><%= link_to "Delete", admin_user_path(user), method: :delete  %></td>
              </tr>
            <% end %>
        </table>
      </div>
    <% end %>
</div>


