<h3>States</h3>
<h3><%= link_to "Add a State", new_admin_state_path %></h3>

<div class='states-container'>
  <% @states.each do |state| %>
    <div class='state-container'>
        <h3><%= link_to state.name, state_path(state) %></h3>
        <%= state.companies.count %>
    </div>
  <% end %>
</div>