<h3>States</h3>
<h3><%= link_to "Add a State", new_admin_state_path %></h3>

<div class='states-container'>
  <div class='state-container'>
    <table>
      <tr>
        <th>State</th>
        <th>Count</th>
      </tr>
        <% @states.each do |state| %>
          <tr>
            <td><%= link_to state.name, state_path(state) %></td>
            <td><%= state.companies.count %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>